* {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  color: rgba(36, 39, 49, 0.67);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Montserrat", "Roboto", "Arial", sans-serif;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  background-color: #f6f7f7;
}

@media (min-width: 800px) {
  nav,
  main {
    margin: auto;
    width: 50%;
  }

  main {
    text-align: left;
    display: flex;
    justify-content: center;
  }
}

main {
  padding: 1.5em;
  background-color: #fff;
  min-height: 100%;
}

nav {
  padding: 0.8em;
  font-size: 1.2em;
  background-color: #fff;
  transition: background-color 0.5s ease-out;
}

nav:hover {
  background-color: #f6f7f7;
  transition: background-color 0.5s ease-out;
}

li {
  padding: 0.2em;
  list-style: none;
  animation: slide-up 0.6s ease;
}

p {
  padding: 0.2em;
}

p > strong {
  color: #242731;
}

h1 {
  color: #242731;
}

a:hover {
  color: #242731;
}

.nav-item > a {
  color: #242731;
  text-decoration: inherit;
}

.packages-list-item {
  font-size: 1.2em;
}

.package-details-container,
.packages-list-container {
  width: 100%;
}

.package-details-name {
  padding: 1em 0 1em 0;
  animation: slide-up 0.6s ease;
}

.package-details-item {
  width: 100%;
  font-size: 1.2em;
  animation: slide-up 0.6s ease;
  word-break: break-word;
}

.package-details-list-item {
  margin-left: 0.8em;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
